In [9]:
#Escalado - Normalización - Estándarización
import pandas as pd

#Leer archivo excel e impirmir las primeras 5 filas
df = pd.read_excel('C:\\Otros\\UTB\\TalentoTech\\AnalisisDatos\\Material\\Semana_5\\Ejercicios\\DataNormalizacion.xlsx', sheet_name='Datos')
print("\nArchivo EXCEL")
print(df.head()) #los primeros 5 registros

Archivo EXCEL
            Nombre   Salario  NroVeh
0       Luisa Lane   4500000       1
1     Maria Medina   6000000       2
2  Sergio Castillo   3900000       1
3      Pedro López  80000000       3
4   Catalina Gómez   5000000       2

In [10]:
# Variable de Interés - Estadística Descriptiva
print("\n Variables de interés")
print("\n",df[["Salario","NroVeh"]]) # Mostrar llas variables de interés (Numéricas)

print("\n Estadística descriptiva")
print("\n",df[["Salario","NroVeh"]].describe()) # Mostrar Estadística Descriptiva

 Variables de interés

     Salario  NroVeh
0   4500000       1
1   6000000       2
2   3900000       1
3  80000000       3
4   5000000       2
5    400000       0

 Estadística descriptiva

             Salario    NroVeh
count  6.000000e+00  6.000000
mean   1.663333e+07  1.500000
std    3.110181e+07  1.048809
min    4.000000e+05  0.000000
25%    4.050000e+06  1.000000
50%    4.750000e+06  1.500000
75%    5.750000e+06  2.000000
max    8.000000e+07  3.000000

In [12]:
# Método Escalado simple
print("\n Método escalado simple aplicado al salario y Número vehículos")
df["Salario"]=df["Salario"]/df["Salario"].max()
df["NroVeh"]=df["NroVeh"]/df["NroVeh"].max()
print("\n",df[["Salario","NroVeh"]]) # Mostrar llas variables de interés (Numéricas)

 Método escalado simple aplicado al salario y Número vehículos

    Salario    NroVeh
0  0.05625  0.333333
1  0.07500  0.666667
2  0.04875  0.333333
3  1.00000  1.000000
4  0.06250  0.666667
5  0.00500  0.000000

 Variables de interés

     Salario  NroVeh
0   4500000       1
1   6000000       2
2   3900000       1
3  80000000       3
4   5000000       2
5    400000       0

 Estadística descriptiva

             Salario    NroVeh
count  6.000000e+00  6.000000
mean   1.663333e+07  1.500000
std    3.110181e+07  1.048809
min    4.000000e+05  0.000000
25%    4.050000e+06  1.000000
50%    4.750000e+06  1.500000
75%    5.750000e+06  2.000000
max    8.000000e+07  3.000000

 Método escalado simple aplicado al salario y Número vehículos

    Salario    NroVeh
0  0.05625  0.333333
1  0.07500  0.666667
2  0.04875  0.333333
3  1.00000  1.000000
4  0.06250  0.666667
5  0.00500  0.000000

In [13]:
# Método Mínimo y Máximo
print("\n Método Mínimos y Máximos aplicado al salario y Número vehículos")
df["Salario"]=(df["Salario"]-df["Salario"].min())/(df["Salario"].max()-df["Salario"].min())
df["NroVeh"]=(df["NroVeh"]-df["NroVeh"].min())/(df["NroVeh"].max()-df["NroVeh"].min())
print("\n",df[["Salario","NroVeh"]]) # Mostrar llas variables de interés (Numéricas)

 Método Mínimos y Máximos aplicado al salario y Número vehículos

     Salario    NroVeh
0  0.051508  0.333333
1  0.070352  0.666667
2  0.043970  0.333333
3  1.000000  1.000000
4  0.057789  0.666667
5  0.000000  0.000000

In [18]:
# Método z-score
print("\n Método z-score aplicado al salario y Número vehículos")
df["Salario"]=(df["Salario"]-df["Salario"].mean())/df["Salario"].std()
df["NroVeh"]=(df["NroVeh"]-df["NroVeh"].mean())/df["NroVeh"].std()
print("\n",df[["Salario","NroVeh"]]) # Mostrar llas variables de interés (Numéricas)

 Método z-score aplicado al salario y Número vehículos

     Salario    NroVeh
0 -0.390117 -0.476731
1 -0.341888  0.476731
2 -0.409408 -0.476731
3  2.037395  1.430194
4 -0.374040  0.476731
5 -0.521942 -1.430194

In [20]:
df["NroVeh"]

0   -0.476731
1    0.476731
2   -0.476731
3    1.430194
4    0.476731
5   -1.430194
Name: NroVeh, dtype: float64